html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  --animate-delay: 0.5s;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  max-width: 100%;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  fill: currentColor;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Garamond', sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 2.986rem;
}

h2 {
  font-size: 2.488rem;
}

h3 {
  font-size: 2.074rem;
}

h4 {
  font-size: 1.728rem;
}

h5 {
  font-size: 1.44rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.p-xl {
  font-size: 1.5rem;
}

.p-lg {
  font-size: 1.125rem;
}

.p-sm {
  font-size: 0.833rem;
}

.p-xs {
  font-size: 0.694rem;
}

section {
  padding: 4rem 0;
}

section.grey {
  background-color: #F5F5F5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
  overflow-x: hidden;
}

.container-fluid {
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
}

.img-container {
  max-width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.img-container img {
  transition: .5s ease all;
  width: 100%;
  object-fit: cover;
}

.img-container:hover img {
  transform: scale(1.1);
}

.container .left,
.container .right {
  flex: 1;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-col-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.gap-1{
  gap: 1rem;
}

.gap-2{
  gap: 2rem;
}

.gap-3{
  gap: 3rem;
}

.gap-4{
  gap: 4rem;
}

.gap-5{
  gap: 5rem;
}

.mb-2{
  margin-bottom: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
}

.content ol{
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}


.btn {
  display: flex;
  width: fit-content;
  padding: 0.75rem 1.5rem;
  gap: 0.5rem;
  border-bottom-right-radius: 1.5em;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn-header {
  background-color: #fff;
  color: #333;
}

.btn.large {
  padding: 1rem 2rem;
  font-size: 1.125rem;
}

.btn.medium {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}

.btn.small {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}

.btn.red {
  background-color: #E5001D;
  color: #FFFFFF;
  border: none;
}

.btn.blue {
  background-color: #191975;
  color: #FFFFFF;
  border: none;
}

.btn.outline {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

/* Home Page */
.hero-carousel {
  width: 100%;
  height: calc(100vh - 115px);
  overflow-x: hidden;
}

.hero-carousel.swiper-pagination-horizontal {
  bottom: 3rem !important;
}

.hero-carousel .swiper-pagination-bullet {
  background: #fff !important;
  opacity: 0.5 !important;
  width: 10% !important;
  height: 0.15rem !important;
  margin: 0 !important;
  padding: 0;
}

.hero-carousel .swiper-pagination-bullet-active {
  opacity: 1 !important;
}

.hero-btn-prev,
.hero-btn-next {
  color: #fff;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: brightness(0.6);
}

.header-logo {
  background-image: url('../svg/logo-aekoh-red.svg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 2.5rem;
  width: 30%;
}

.navbar {
  align-items: center;
}

.header-nav .header-nav-list {
  display: flex;
  gap: 3rem;
}

.header-transparent .header-nav-list li a {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.header-transparent .header-nav-list li a {
  color: #333;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.header-nav .header-nav-list li a:hover {
  text-decoration: underline;
}

.header-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  padding: 1rem 0;
  transition: 0.8s ease;
  transition-delay: 100ms;
}

.header-transparent {
  position: fixed;
  background-color: transparent;
}

.header-transparent .header-logo {
  background-image: url('../svg/logo-aekoh-white.svg');
}

.header-transparent .btn-header {
  background-color: #fff;
  color: #333;
}

/* Hide hamburger on desktop */
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 2px;
  background: #fff;
  transition: 0.3s ease;
}

.header-transparent .menu-toggle span {
  background: #fff !important;
}

.header-sticky .menu-toggle span, .header-open .menu-toggle span {
  background: #333;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: center;
  color: #FFFFFF;
  height: 100%;
  padding: 0 4rem;
}

.hero-content>h2,
.hero-content>p {
  width: 50%;
}

.hero-btn-group {
  display: flex;
  gap: 1rem;
}

.product-categories {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.product-category-item>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.product-category-item:hover>div {
  transform: scale(1.1) !important;
}

.product-category-image {
  max-width: 2.5rem;
  height: auto;
}

.product-category-image path {
  fill: #191975;
}

.domain-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.domain-carousel {
  width: 100vw;
  height: auto;
  overflow-x: hidden;
}

.domain-carousel.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.domain-carousel .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.domain-btn-prev,
.domain-btn-next {
  background-color: #191975;
  padding: 0.5rem;
  color: #fff;
}

.domain-carousel .swiper-button-disabled {
  opacity: 0;
  cursor: not-allowed;
}

.domain-item {
  cursor: pointer;
}

.domain-item img {
  filter: brightness(0.6);
}

.domain-item p {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: #fff;
}

.purpose {
  background-color: #191975;
  color: #FFFFFF;
  padding: 0;
  padding-top: 6rem;
}

.purpose .container {
  gap: 4rem;
}

.purpose .left {
  width: 100%;
  height: -webkit-fill-available;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  border-top-right-radius: 4em;
}

.purpose.right {
  padding-bottom: 6rem;
}

.purpose .left img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.purpose .purpose-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 4rem;
}

.products .product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-top: 3rem;
}

.product-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding-top: 3rem;
}

.products .product-grid .product-item {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.products .product-grid .product-item img {
  width: 100%;
  height: 100%;
}

.products .product-grid .product-item .product-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  color: #FFFFFF;
  border-bottom-right-radius: 4em;
}

.products .product-grid .product-item .product-content.p-sm {
  color: #777;
}

.products .product-grid .product-item .product-content.blue {
  background-color: #191975;
}

.products .product-grid .product-item .product-content.red {
  background-color: #E5001D;
}

.products .product-grid .product-item .product-content div {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.project-stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-top: 3rem;
  width: 100%;
}

.project-stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.project-stats-item img {
  max-width: 6rem;
  height: auto;
  margin-bottom: 1rem;
}

.project-stats-item p {
  font-weight: 600;
}

.testimonials .container {
  display: flex;
  flex-direction: column;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
  margin-top: 3rem;
}

.testimonial-item.odd {
  background-color: #191975;
  color: #FFFFFF;
  border-bottom-right-radius: 4em;
}

.testimonial-item.even {
  background-color: #CCCCD4;
  color: #FFFFFF;
  border-top-right-radius: 4em;
}

.testimonial-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem;
}

.testimonial-item img {
  width: 2rem;
  height: auto;
}

.associations .container {
  display: flex;
  flex-direction: column;
}

.associations .association-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  width: 100%;
  margin-top: 3rem;
}

.association-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.association-item img {
  width: 100%;
  height: auto;
}

footer {
  background-color: #191975;
  color: #FFFFFF;
}

footer .footer-top {
  padding: 4rem 0 2rem 0;
}

.footer-top .container {
  justify-content: start;
}

footer .footer-top .logo-column {
  display: flex;
  justify-content: space-between;
  width: 33.33%;
}

.footer-column-social {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-column-social a {
  color: #FFFFFF;
  font-size: 2rem;
  margin-right: 2rem;
}

.footer-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 75%;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-links a {
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer-bottom {
  background-color: #4D4D4D;
  color: #FFFFFF;
  padding: 0.5rem 0;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 8.5rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.breadcrumbs .breadcrumb-link {
  color: #333;
}

.breadcrumbs .breadcrumb-link:hover {
  color: #191975;
  text-decoration: underline;
}

.breadcrumbs .breadcrumb-separator {
  color: #333;
  opacity: 0.7;
}

.breadcrumbs .breadcrumb-current {
  color: #E5001D;
}

.page-title h1.blue {
  color: #191975;
}

.page-title .content {
  width: 50%;
}

.products-section {
  display: flex;
  gap: 2rem;
}

.left-sidebar {
  width: 20%;
}

.category-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.category-list>li>span>a {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  background-color: #F5F5F5;
  align-items: center;
}

.category-list>li.expanded>span>a {
  background-color: #191975;
  color: #fff;
}

.category-list li ul {
  padding: 0.5rem 0;
  background-color: #f5f5f5;
  flex-direction: column;
  gap: 0.5rem;
}

.category-list li ul li a {
  display: flex;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  color: #333;
  font-size: 90%;
}

.category-list li ul li a.active,
.category-list li ul li a:hover {
  background-color: #333;
  color: #fff;
  font-weight: 500;
  border-radius: 0.5rem;
}

/* Hide nested lists by default */
.category-list li ul {
  display: none;
}

/* Show nested lists when parent li has .expanded class */
.category-list li.expanded ul {
  display: flex;
}

/* Icon styling (adjust size/color as needed) */
ion-icon {
  transition: transform 0.5s ease;
}

.category-list li.expanded ion-icon[name="chevron-up-outline"] {
  transform: rotate(0deg);
}

.category-list li:not(.expanded) ion-icon[name="chevron-down-outline"] {
  transform: rotate(0deg);
}

.right-content {
  width: 80%;
}

.product-top-bar>div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.product-top-bar .sort-dropdown {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.product-top-bar .sort-select {
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid #333;
}

.products-section .product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.products-section .product-grid .product-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #333;
}

.products-section .product-grid .product-item:hover .img-container img {
  transform: scale(1.1);
}

.products-section .product-grid .product-item .product-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.finishes-grid{
  display: flex;
  gap: 0.5rem;
}

.finishes-grid img{
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.25rem;
  border-bottom-right-radius: 1.5rem;
}

/* ------ Media Queries ------ */
@media screen and (max-width: 600px) {
  .container {
    max-width: 100%;
  }

  .menu-toggle {
    display: flex;
  }

  .header-nav {
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .header-nav-list {
    flex-direction: column;
    padding: 20px;
  }

  .header-nav-item {
    margin-bottom: 15px;
  }

  /* Hide desktop button on mobile if needed */
  .btn-header {
    display: none;
  }

  .header-logo {
    height: 1rem;
  }

  .header-open .container-fluid{
    flex-direction: column;
    background-color: white;
  }

  /* When menu is open */
  .header-open .header-nav {
    max-height: 100vh;
  }

  /* Animate hamburger to X */
  .header-open .menu-toggle span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .header-open .menu-toggle span:nth-child(2) {
    opacity: 0;
  }

  .header-open .menu-toggle span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .hero-content {
    padding: 0 2rem;
  }

  .hero-content p,
  .hero-content h2 {
    width: 100%
  }

  .product-categories {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
  }

  .purpose .container {
    flex-direction: column;
  }

  .purpose .left {
    height: fit-content;
  }

  .purpose .left img {
    position: relative;
  }

  .customer-services .container,
  .products .container,
  .industry-projects .container {
    flex-direction: column;
  }

  .project-stats-grid,
  .associations .association-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .products .product-grid,
  .testimonial-grid,
  .footer-row {
    grid-template-columns: 1fr;
  }

  .footer-logo {
    width: 7.5em;
    justify-content: center;
  }

  footer .footer-top .logo-column {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .footer-column-social {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
    width: 100%;
  }

  .footer-row {
    gap: 2.5rem;
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .footer .container {
    flex-direction: column;
  }

  .footer-column-social a {
    margin: 0;
  }

}